[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
click = "*"
tmux-res = {path = "."}

[dev-packages]

[requires]
python_version = "3.7"
allow_prereleases = true
