[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
click = "*"
tmux-res = {path = "."}

[dev-packages]
black = "*"
pytest = "*"
bpython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
